.button {
margin: 10px;
padding: 10px 20px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 14px;
transition: background-color 0.3s ease;
margin-top: 500px;
}
  
.button:hover {
background-color: #0b3664;
}
div { 
text-align: center;
margin-top: "50px" 
}
.button2:hover{
    background-color: rgb(161, 4, 4);
}
.button2{
    margin: 10px;
padding: 10px 20px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 14px;
transition: background-color 0.3s ease;
margin-top: 500px;
}